@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Formulario</h1>
    <form method="GET" action='@Url.Action("GenerarSugerencia", "Home")'>
        <label>Nombre:</label>
        <input type="text" name="nombre">
    </form>
</div>
